alias re-source='source ~/.zshrc'
alias re-alias='nvim ~/.config/.aliases'
alias vim='nvim'
alias ll=la
alias msshkeygen='ssh-keygen -t rsa -f ~/.ssh/id_rsa'
alias msshkey='nvim ~/.ssh/id_rsa.pub'
alias sshjmu='ssh jingzhili@10.85.13.36'

